{% extends 'base.html' %}

{% block content %}
  {% if search %}
    <div class="ultima-pesquisa">
      Última pesquisa realizada: <i>{{ search }}</i>
    </div>
  {% endif %}
  {% if publishs %}
    <h6>Últimas notícias</h6>
    <div id="timeline" data-columns>
    {% for publish in publishs %}
      <div class="item">
        <h6>
          <a href="/publicacao/{{ publish.id }}/">
            {{ publish.title }}
          </a>
        </h6>
        <div class="text">
          {% if publish.thumbnail %}
            <div class="thumbnail">
              <img src="{{ publish.thumbnail }}" alt="" />
            </div>
          {% endif %}
          {{ publish.description|truncatewords:50 }}
        </div>
        <div class="info">
          <div class="user">{{ publish.user }}</div>
          <div class="data">{{ publish.created_at|date:"d/m/Y" }}</div>          
        </div>
      </div>

    {% endfor %}
  {% else %}
    <i><h6>Nenhum registro encontrado!</h6></i>
  {% endif %}

{% endblock content %}