{% extends 'base.html' %}
{% block content %}

<h3>{{ publish.title }}</h3>
<div class="detail-info">
    <div class="pull-left">
        <div class="date">{{ publish.created_at|date:"d/m/Y" }} </div>
        <div class="user">{{ publish.user }}</div>
    </div>
    <div class="tags pull-right">
        {% for tag in publish.tags.all %}
            <a href="/tags/{{ tag.tag }}/">{{ tag.tag }}</a>
        {% empty %}
            nenhym
        {% endfor %}
    </div>
</div>
<div class="detail-content">
    {{ publish.description }}
</div>
<div class="midias">
    <h6>Fotos</h6>
    <img src="http://s2.glbimg.com/Ap9GdhOwG55wcjehEdK2CdNQTJI=/0x96:1500x935/220x123/s.glbimg.com/es/ge/f/original/2013/09/30/mourinho_chelsea_entrevista_efe.jpg" alt="">
    <img src="http://s2.glbimg.com/Hd5rhgoRAFIptEP6-Jg40sZbzZM=/0x54:1500x893/220x123/s.glbimg.com/es/ge/f/original/2013/09/30/robertomancini_galatasaray_site_oficial.jpg" alt="">
    <img src="http://s2.glbimg.com/PB9Mv09ZmfTtOxhUpFlPmnJv6oI=/0x0:950x530/220x123/s.glbimg.com/es/ge/f/original/2013/09/24/neymar_golbarcelona_afp.jpg_95.jpg" alt="">
</div>
{% if publish.city %}
<div class="detail-map">
    <h6>Localização</h6>
    <img src="http://perlbal.hi-pi.com/blog-images/384422/gd/1250775186/MAPA-LOCALIZACAO-DO-IMOVEL.jpg" />
</div>
{% endif %}

{% endblock content %}