{% extends 'base.html' %}
{% block content %}
  <h6>Últimas notícias</h6>
  <div id="timeline" data-columns>
    <div class="item">
      <h6>Título</h6>          
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, magnam, pariatur, tenetur, dignissimos culpa inventore voluptatibus officia nam molestias sequi consequuntur commodi magni accusantium dolorem dicta facere ipsam. Excepturi, veritatis.
      <div class="info">
        <div class="user">Fulano</div>
        <div class="data">16/09 14:30</div>          
      </div>
    </div>
    <div class="item">
      <h6>Título</h6>          
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, magnam, pariatur, tenetur, dignissimos culpa inventore voluptatibus officia nam molestias sequi consequuntur commodi magni accusantium dolorem dicta facere ipsam. Excepturi, veritatis.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, nihil, numquam expedita iure quas necessitatibus mollitia id veritatis sequi dolores quos fugit impedit dolorum culpa quidem facere placeat vitae reprehenderit!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, soluta, quis consectetur minima quae tenetur fugiat facere corporis neque nulla atque sint eius debitis voluptates perspiciatis necessitatibus fugit. Pariatur, repellat.
      <div class="info">
        <div class="user">Fulano</div>
        <div class="data">16/09 14:30</div>          
      </div>
    </div>
    <div class="item">
      <h6>Título</h6>          
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, magnam, pariatur, tenetur, dignissimos culpa inventore voluptatibus officia nam molestias sequi consequuntur commodi magni accusantium dolorem dicta facere ipsam. Excepturi, veritatis.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error, voluptatibus, laboriosam, iste inventore vero quas neque maiores impedit optio assumenda aperiam. Qui, nesciunt facere necessitatibus quidem esse nobis dolorem!
      <div class="info">
        <div class="user">Fulano</div>
        <div class="data">16/09 14:30</div>          
      </div>
    </div>
    <div class="item">
      <h6>Título</h6>          
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, magnam, pariatur, tenetur, dignissimos culpa inventore voluptatibus officia nam molestias sequi consequuntur commodi magni accusantium dolorem dicta facere ipsam. Excepturi, veritatis.
      <div class="info">
        <div class="user">Fulano</div>
        <div class="data">16/09 14:30</div>          
      </div>
    </div>
    <div class="item">
      <h6>Título</h6>          
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, magnam, pariatur, tenetur, dignissimos culpa inventore voluptatibus officia nam molestias sequi consequuntur commodi magni accusantium dolorem dicta facere ipsam. Excepturi, veritatis.
      <div class="info">
        <div class="user">Fulano</div>
        <div class="data">16/09 14:30</div>          
      </div>
    </div>
    <div class="item">
      <h6>Título</h6>          
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, magnam, pariatur, tenetur, dignissimos culpa inventore voluptatibus officia nam molestias sequi consequuntur commodi magni accusantium dolorem dicta facere ipsam. Excepturi, veritatis.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, nihil, numquam expedita iure quas necessitatibus mollitia id veritatis sequi dolores quos fugit impedit dolorum culpa quidem facere placeat vitae reprehenderit!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, soluta, quis consectetur minima quae tenetur fugiat facere corporis neque nulla atque sint eius debitis voluptates perspiciatis necessitatibus fugit. Pariatur, repellat.
      <div class="info">
        <div class="user">Fulano</div>
        <div class="data">16/09 14:30</div>          
      </div>
    </div>
    <div class="item">
      <h6>Título</h6>          
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, magnam, pariatur, tenetur, dignissimos culpa inventore voluptatibus officia nam molestias sequi consequuntur commodi magni accusantium dolorem dicta facere ipsam. Excepturi, veritatis.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error, voluptatibus, laboriosam, iste inventore vero quas neque maiores impedit optio assumenda aperiam. Qui, nesciunt facere necessitatibus quidem esse nobis dolorem!
      <div class="info">
        <div class="user">Fulano</div>
        <div class="data">16/09 14:30</div>          
      </div>
    </div>
    <div class="item">
      <h6>Título</h6>          
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, magnam, pariatur, tenetur, dignissimos culpa inventore voluptatibus officia nam molestias sequi consequuntur commodi magni accusantium dolorem dicta facere ipsam. Excepturi, veritatis.
      <div class="info">
        <div class="user">Fulano</div>
        <div class="data">16/09 14:30</div>          
      </div>
    </div>
    <div class="item">
      <h6>Título</h6>          
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, magnam, pariatur, tenetur, dignissimos culpa inventore voluptatibus officia nam molestias sequi consequuntur commodi magni accusantium dolorem dicta facere ipsam. Excepturi, veritatis.
      <div class="info">
        <div class="user">Fulano</div>
        <div class="data">16/09 14:30</div>          
      </div>
    </div>
    <div class="item">
      <h6>Título</h6>          
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, magnam, pariatur, tenetur, dignissimos culpa inventore voluptatibus officia nam molestias sequi consequuntur commodi magni accusantium dolorem dicta facere ipsam. Excepturi, veritatis.
      <div class="info">
        <div class="user">Fulano</div>
        <div class="data">16/09 14:30</div>          
      </div>
    </div>
    <div class="item">
      <h6>Título</h6>          
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, magnam, pariatur, tenetur, dignissimos culpa inventore voluptatibus officia nam molestias sequi consequuntur commodi magni accusantium dolorem dicta facere ipsam. Excepturi, veritatis.
      <div class="info">
        <div class="user">Fulano</div>
        <div class="data">16/09 14:30</div>          
      </div>
    </div>
    <div class="item">
      <h6>Título</h6>          
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, magnam, pariatur, tenetur, dignissimos culpa inventore voluptatibus officia nam molestias sequi consequuntur commodi magni accusantium dolorem dicta facere ipsam. Excepturi, veritatis.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, nihil, numquam expedita iure quas necessitatibus mollitia id veritatis sequi dolores quos fugit impedit dolorum culpa quidem facere placeat vitae reprehenderit!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, soluta, quis consectetur minima quae tenetur fugiat facere corporis neque nulla atque sint eius debitis voluptates perspiciatis necessitatibus fugit. Pariatur, repellat.
      <div class="info">
        <div class="user">Fulano</div>
        <div class="data">16/09 14:30</div>          
      </div>
    </div>
    <div class="item">
      <h6>Título</h6>          
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, magnam, pariatur, tenetur, dignissimos culpa inventore voluptatibus officia nam molestias sequi consequuntur commodi magni accusantium dolorem dicta facere ipsam. Excepturi, veritatis.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error, voluptatibus, laboriosam, iste inventore vero quas neque maiores impedit optio assumenda aperiam. Qui, nesciunt facere necessitatibus quidem esse nobis dolorem!
      <div class="info">
        <div class="user">Fulano</div>
        <div class="data">16/09 14:30</div>          
      </div>
    </div>      
    <div class="item">
      <h6>Título</h6>          
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, magnam, pariatur, tenetur, dignissimos culpa inventore voluptatibus officia nam molestias sequi consequuntur commodi magni accusantium dolorem dicta facere ipsam. Excepturi, veritatis.
      <div class="info">
        <div class="user">Fulano</div>
        <div class="data">16/09 14:30</div>          
      </div>
    </div>
    <div class="item">
      <h6>Título</h6>          
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, magnam, pariatur, tenetur, dignissimos culpa inventore voluptatibus officia nam molestias sequi consequuntur commodi magni accusantium dolorem dicta facere ipsam. Excepturi, veritatis.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, nihil, numquam expedita iure quas necessitatibus mollitia id veritatis sequi dolores quos fugit impedit dolorum culpa quidem facere placeat vitae reprehenderit!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, soluta, quis consectetur minima quae tenetur fugiat facere corporis neque nulla atque sint eius debitis voluptates perspiciatis necessitatibus fugit. Pariatur, repellat.
      <div class="info">
        <div class="user">Fulano</div>
        <div class="data">16/09 14:30</div>          
      </div>
    </div>
  

{% endblock content %}