{% extends 'base.html' %}
{% block content %}
<div class="col-lg-10">
  <h6>Última notícias</h6>
  <div id="timeline" data-columns>
    <div class="item">
      <h6>Título</h6>          
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, magnam, pariatur, tenetur, dignissimos culpa inventore voluptatibus officia nam molestias sequi consequuntur commodi magni accusantium dolorem dicta facere ipsam. Excepturi, veritatis.
      <div class="info">
        <div class="user">Fulano</div>
        <div class="data">16/09 14:30</div>          
      </div>
    </div>
    <div class="item">
      <h6>Título</h6>          
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, magnam, pariatur, tenetur, dignissimos culpa inventore voluptatibus officia nam molestias sequi consequuntur commodi magni accusantium dolorem dicta facere ipsam. Excepturi, veritatis.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, nihil, numquam expedita iure quas necessitatibus mollitia id veritatis sequi dolores quos fugit impedit dolorum culpa quidem facere placeat vitae reprehenderit!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, soluta, quis consectetur minima quae tenetur fugiat facere corporis neque nulla atque sint eius debitis voluptates perspiciatis necessitatibus fugit. Pariatur, repellat.
      <div class="info">
        <div class="user">Fulano</div>
        <div class="data">16/09 14:30</div>          
      </div>
    </div>
    <div class="item">
      <h6>Título</h6>          
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, magnam, pariatur, tenetur, dignissimos culpa inventore voluptatibus officia nam molestias sequi consequuntur commodi magni accusantium dolorem dicta facere ipsam. Excepturi, veritatis.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error, voluptatibus, laboriosam, iste inventore vero quas neque maiores impedit optio assumenda aperiam. Qui, nesciunt facere necessitatibus quidem esse nobis dolorem!
      <div class="info">
        <div class="user">Fulano</div>
        <div class="data">16/09 14:30</div>          
      </div>
    </div>
    <div class="item">
      <h6>Título</h6>          
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, magnam, pariatur, tenetur, dignissimos culpa inventore voluptatibus officia nam molestias sequi consequuntur commodi magni accusantium dolorem dicta facere ipsam. Excepturi, veritatis.
      <div class="info">
        <div class="user">Fulano</div>
        <div class="data">16/09 14:30</div>          
      </div>
    </div>
    <div class="item">
      <h6>Título</h6>          
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, magnam, pariatur, tenetur, dignissimos culpa inventore voluptatibus officia nam molestias sequi consequuntur commodi magni accusantium dolorem dicta facere ipsam. Excepturi, veritatis.
      <div class="info">
        <div class="user">Fulano</div>
        <div class="data">16/09 14:30</div>          
      </div>
    </div>
    <div class="item">
      <h6>Título</h6>          
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, magnam, pariatur, tenetur, dignissimos culpa inventore voluptatibus officia nam molestias sequi consequuntur commodi magni accusantium dolorem dicta facere ipsam. Excepturi, veritatis.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, nihil, numquam expedita iure quas necessitatibus mollitia id veritatis sequi dolores quos fugit impedit dolorum culpa quidem facere placeat vitae reprehenderit!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, soluta, quis consectetur minima quae tenetur fugiat facere corporis neque nulla atque sint eius debitis voluptates perspiciatis necessitatibus fugit. Pariatur, repellat.
      <div class="info">
        <div class="user">Fulano</div>
        <div class="data">16/09 14:30</div>          
      </div>
    </div>
    <div class="item">
      <h6>Título</h6>          
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, magnam, pariatur, tenetur, dignissimos culpa inventore voluptatibus officia nam molestias sequi consequuntur commodi magni accusantium dolorem dicta facere ipsam. Excepturi, veritatis.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error, voluptatibus, laboriosam, iste inventore vero quas neque maiores impedit optio assumenda aperiam. Qui, nesciunt facere necessitatibus quidem esse nobis dolorem!
      <div class="info">
        <div class="user">Fulano</div>
        <div class="data">16/09 14:30</div>          
      </div>
    </div>
    <div class="item">
      <h6>Título</h6>          
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, magnam, pariatur, tenetur, dignissimos culpa inventore voluptatibus officia nam molestias sequi consequuntur commodi magni accusantium dolorem dicta facere ipsam. Excepturi, veritatis.
      <div class="info">
        <div class="user">Fulano</div>
        <div class="data">16/09 14:30</div>          
      </div>
    </div>
  </div>

</div>
<div class="col-lg-2">
  <h6>Tags</h6>
  <div class="tags">
    <ul>
      <li value="100"><a href="">Tag 1</a></li>
      <li value="100"><a href="">Tag 2</a></li>
      <li value="100"><a href="">Tag 3</a></li>
      <li value="100"><a href="">Tag 4</a></li>
      <li value="100"><a href="">Tag 5</a></li>
      <li value="100"><a href="">Tag 6</a></li>
      <li value="100"><a href="">Tag 7</a></li>
      <li value="100"><a href="">Tag 8</a></li>
      <li value="100"><a href="">Tag 9</a></li>
      <li value="100"><a href="">Tag 10</a></li>
      <li value="100"><a href="">Tag 11</a></li>
      <li value="100"><a href="">Tag 12</a></li>
      <li value="100"><a href="">Tag 13</a></li>
      <li value="100"><a href="">Tag 14</a></li>
      <li value="100"><a href="">Tag 15</a></li>
      <li value="100"><a href="">Tag 16</a></li>
      <li value="100"><a href="">Tag 17</a></li>
      <li value="100"><a href="">Tag 18</a></li>
      <li value="100"><a href="">Tag 19</a></li>
      <li value="100"><a href="">Tag 20</a></li>
      <li value="100"><a href="">Tag 21</a></li>
      <li value="100"><a href="">Tag 22</a></li>
      <li value="100"><a href="">Tag 23</a></li>
      <li value="100"><a href="">Tag 24</a></li>
      <li value="100"><a href="">Tag 25</a></li>
      <li value="100"><a href="">Tag 26</a></li>
      <li value="100"><a href="">Tag 27</a></li>
      <li value="100"><a href="">Tag 28</a></li>
      <li value="100"><a href="">Tag 29</a></li>
      <li value="100"><a href="">Tag 30</a></li>
    </ul>
  </div>
</div>
{% endblock content %}